name: Build and Deploy Packer Image

on:
  push:
    branches:
      - packer_aws
  workflow_dispatch:

jobs:
  setup-packer:
    name: Install and Use Packer v1.9.2
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the Repository
      - name: Checkout Code
        uses: actions/checkout@v3

      # Step 2: Install Specific Packer Version (v1.9.2)
      - name: Install Packer v1.9.2
        run: |
            curl -L -o packer.zip https://releases.hashicorp.com/packer/1.9.2/packer_1.9.2_linux_amd64.zip
            sudo unzip -o packer.zip -d /usr/local/bin/
            rm packer.zip
            packer version
    
      # Step 3: Configure AWS Credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: ${{secrets.AWS_REGION}}

      # Step 4: Validate Packer Template
      - name: Validate Packer Template
        run: packer validate .

      # Step 5: Build Packer Image
      - name: Build Packer Image
        run: packer build .
